.music-list-nav {
  height: 120px;
  display: flex;
  align-items: center;
  .music-list-nav__play {
    flex: 0 0 120px;
    height: 100%;
    background-image: url("./../../imgs/UoAV9H.png");
    background-size: 55px 55px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .music-list-nav__title {
    font-size: 32px;
  }
  .music-list-nav__sub-title {
    font-size: 28px;
  }
}
