.music-play-page-wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("./imgs/cm2_fm_bg@3x.jpg");
  background-size: 100% 100%;
  .music-play__header {
    flex: 0 0 130px;
  }
  .music-play__content {
    position: relative;
    flex: 1 1 calc(100vh - 350px);
    height: calc(100vh - 350px);
    .music-play__content__inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: 0;
      transition: opacity ease 1s;
      &.music-play__content__inner--cd {
        opacity: 1;
        z-index: 1;
      }
      &.music-play__content__inner--lyr {
        opacity: 1;
        z-index: 1;
      }
    }
  }
  .music-play__bottom {
    flex: 0 0 220px;
  }
}
